/*
 *  This file can be used to set variables and supply global styling.  View specific 
 *  styling should be located the view's corresponding scss file.
 */
$enable-font-awesome: dynamic(true);

.white {
  color: #FFF;
}
.redIcon {
  color: red !important;
}
